<style type="text/css">
  body,
  html, 
  .body {
    background: #f3f3f3 !important;
  }

  .header {
    background: #f3f3f3;
  }
</style>
<!-- move the above styles into your custom stylesheet -->

<spacer size="16"></spacer>

<container>

  <row class="header">
    <columns>

      <spacer size="16"></spacer>
      
      <h4 class="text-center">Ecommerce API</h4>
    </columns>
  </row>
  <row>
    <columns>

      <spacer size="32"></spacer>

      <center>
        <img src="https://i.imgur.com/NLAdIgq.gif">
      </center>

      <spacer size="16"></spacer>

      <h1 class="text-center">Forgot Your Password?</h1>
      
      <spacer size="16"></spacer>

      <p class="text-center">It happens. Click the link below to reset your password.</p>
      <p><%= link_to 'Change my password', "#{message['redirect-url']}?reset_password_token=#{@token}" %></p>

      <hr/>
    </columns>
  </row>

  <spacer size="16"></spacer>
</container>